/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap'); */
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Playfair Display', serif;
  padding-top: 72px; /* Adjust for header height */
  margin: 0; /* Ensure no extra margin around the body */
  scroll-behavior: smooth; /* Enable smooth scrolling */
}
